# --- Port ---
PORT=3000

# --- Nodemailer ---
MAILER_SERICE=...
MAILER_EMAIL=...
# A el MAILER_SECRET_KEY lo podemos conseguir en el siguiente link - https://myaccount.google.com/u/0/apppasswords (hay que tener autenticacion en 2 pasos activado en la cuenta)
MAILER_SECRET_KEY=...

# --- Environment ---
PROD=false

# Mongodb
MONGO_URL=mongodb://JonyPlo:123456@localhost:27017
MONGO_DB_NAME=NOC
MONGO_USER=JonyPlo
MONGO_PASS=123456